@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our pet hotel!</h1>
   <p style="color:#6e593c;font-size:25px">Here you can leave your best friend and you can be sure that we will take care
        of your pet whenever you want and whenever you need!
        </p>
        <img src="https://www.flytap.com/-/media/Flytap/new-tap-pages/travelling-with-animals/pets/flying-with-pets-og-image-1200x630.jpg" />
</div>
